<main class="parent-center">
  <div class="limiter-container">
    <ul class="user-list">
      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>

      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>

      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>

      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>

      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>

      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>
    </ul>
  </div>
</main>