<main class="parent-center">
  <div class="limiter-container">
    <ul class="user-list fixed">
      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>
      <li class="user-bio">
        <h2>Bio</h2>
        <p>Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Alias
          aliquid animi asperiores aut distinctio
          dolor eius error fugiat fugit harum hic
          impedit in itaque, labore mollitia nobis non
          omnis perspiciatis provident quasi quibusdam,
          quos ratione repellat saepe sint vel vitae, voluptas!
          Ad cupiditate delectus dolorem, ea et eveniet ex explicabo
          facilis id illum laborum, molestias optio
          praesentium quas sapiente ullam ut veniam veritatis?
          Aspernatur cum deleniti dicta distinctio eius exercitationem
          hic nostrum nulla optio, pariatur quasi quos ratione, totam!
          Autem dolor ex hic nostrum quam quas quod
          voluptatem? Atque culpa exercitationem, harum quo
          sint voluptatem? Asperiores aspernatur consequuntur e
          arum libero omnis quod voluptas voluptatibus?
          Accusantium aliquid atque commodi eaque earum enim
          eos et facilis itaque laboriosam libero nam, numquam,
          placeat quis reprehenderit rerum voluptate. Ad animi
          aspernatur, autem dicta dolor eius eveniet fugiat id
          incidunt iure laborum minus modi necessitatibus nihil
          nulla obcaecati odit pariatur quas, qui tempora vero
          voluptate voluptatem! Aspernatur commodi dolorem, est
          libero magnam magni nisi nostrum provident, quos,
          sapiente ullam ut! A ab accusamus accusantium adipisci
          aliquid, asperiores beatae consequatur dolores ducimus
          eveniet expedita fugit in iusto magni maiores, neque
          non nostrum nulla officia pariatur placeat praesentium
          saepe similique sint tempore veritatis vitae, voluptatum.
          Dolorem, ipsa perspiciatis quod quos repellendus repudiandae
          voluptatem. Assumenda eveniet fugiat ipsa ipsum quasi.
        </p>
      </li>
    </ul>
    <ul class="user-posts-list">
      <li class="user-posts-list-item">
        <h2>Post # 1</h2>
        <p class="user-post-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aperiam architecto, asperiores consequatur cupiditate
          dolor dolore earum esse eveniet fuga fugiat incidunt
          magnam maxime minima molestias mollitia, nam neque nobis
          nulla obcaecati optio perferendis placeat quam quas qui
          ratione repudiandae, saepe sunt vero voluptatem. Aperiam
          doloribus dolorum impedit necessitatibus officia.
        </p>
      </li>
      <li class="user-posts-list-item">
        <h2>Post # 2</h2>
        <p class="user-post-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aperiam architecto, asperiores consequatur cupiditate
          dolor dolore earum esse eveniet fuga fugiat incidunt
          magnam maxime minima molestias mollitia, nam neque nobis
          nulla obcaecati optio perferendis placeat quam quas qui
          ratione repudiandae, saepe sunt vero voluptatem. Aperiam
          doloribus dolorum impedit necessitatibus officia.
        </p>
      </li>
      <li class="user-posts-list-item">
        <h2>Post # 3</h2>
        <p class="user-post-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aperiam architecto, asperiores consequatur cupiditate
          dolor dolore earum esse eveniet fuga fugiat incidunt
          magnam maxime minima molestias mollitia, nam neque nobis
          nulla obcaecati optio perferendis placeat quam quas qui
          ratione repudiandae, saepe sunt vero voluptatem. Aperiam
          doloribus dolorum impedit necessitatibus officia.
        </p>
      </li>
    </ul>
    <button class="btn-cta" type="button" >See all posts</button>
  </div>
</main>