<main class="parent-center">
  <div class="limiter-container">
    <ul class="user-list fixed">
      <li class="user-list-item">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div class="user-card">
          <h2>User Name</h2>
          <span>Number of posts: 9</span>
        </div>
      </li>
    </ul>
    <ul class="posts-list">
      <li class="posts-list-item">
        <h2>Post # 1</h2>
        <p class="post-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aperiam architecto, asperiores consequatur cupiditate
          dolor dolore earum esse eveniet fuga fugiat incidunt
          magnam maxime minima molestias mollitia, nam neque nobis
          nulla obcaecati optio perferendis placeat quam quas qui
          ratione repudiandae, saepe sunt vero voluptatem. Aperiam
          doloribus dolorum impedit necessitatibus officia.
        </p>
        <ul class="posts-comments-list">
          <li class="posts-comment">
            <span>Username: </span>
            <span>Comment</span>
          </li>
          <li class="posts-comment">
            <span>Username: </span>
            <span>Comment</span>
          </li>
          <li class="posts-comment">
            <span>Username: </span>
            <span>Comment</span>
          </li>
          <li class="posts-comment">
            <span>Username: </span>
            <span>Comment</span>
          </li>
        </ul>
      </li>
      <li class="posts-list-item">
      <h2>Post # 2</h2>
      <p class="post-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad aperiam architecto, asperiores consequatur cupiditate
        dolor dolore earum esse eveniet fuga fugiat incidunt
        magnam maxime minima molestias mollitia, nam neque nobis
        nulla obcaecati optio perferendis placeat quam quas qui
        ratione repudiandae, saepe sunt vero voluptatem. Aperiam
        doloribus dolorum impedit necessitatibus officia.
      </p>
      <ul class="posts-comments-list">
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
      </ul>
    </li>
      <li class="posts-list-item">
      <h2>Post # 3</h2>
      <p class="post-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad aperiam architecto, asperiores consequatur cupiditate
        dolor dolore earum esse eveniet fuga fugiat incidunt
        magnam maxime minima molestias mollitia, nam neque nobis
        nulla obcaecati optio perferendis placeat quam quas qui
        ratione repudiandae, saepe sunt vero voluptatem. Aperiam
        doloribus dolorum impedit necessitatibus officia.
      </p>
      <ul class="posts-comments-list">
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
        <li class="posts-comment">
          <span>Username: </span>
          <span>Comment</span>
        </li>
      </ul>
    </li>
    </ul>

    <button class="btn-cta" type="button" >See all posts</button>
  </div>
</main>