<main class="parent-center">
  <div class="limiter-container">
    <div class="post">
      <h1>Post #<%= @post_id %> By Username:  <%= @user_id %></h1>
      <p class="post-p">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa eveniet mollitia nobis nostrum quae quaerat quam
        tenetur, voluptatem. Accusamus beatae cum cumque cupiditate
        debitis deleniti minus perferendis temporibus. Alias beatae
        cum debitis delectus impedit ipsam iusto non sunt ullam
        voluptate. Dolorum iusto maxime quibusdam vitae voluptas.
        A adipisci aliquid commodi cupiditate debitis dicta doloremque
        ducimus eveniet exercitationem fuga ipsa, molestiae nulla
        officiis rerum, sint sunt temporibus vero voluptate! Aliquam
        assumenda at atque consectetur consequuntur distinctio dolore
        dolores dolorum eum eveniet ipsa iste laboriosam molestiae
        natus necessitatibus nobis, non nostrum obcaecati perferendis
        porro praesentium quas quasi quidem quisquam quod reiciendis
        repudiandae ut veniam voluptates voluptatum. Alias aliquid
        dolorem dolores esse molestiae natus similique! Accusantium
        alias aliquam architecto assumenda cupiditate distinctio
        dolor, enim eos eveniet exercitationem explicabo facere
        facilis fugiat illum iste iure necessitatibus, non odit omnis
        provident quis reprehenderit sapiente sequi sunt voluptate.
        Amet consectetur, consequatur eum illo in mollitia perferendis
        quos tempora. Alias aperiam cupiditate dolores exercitationem
        facere inventore molestiae, natus quas recusandae sequi, sint,
        suscipit voluptatibus! Aliquam dolore ipsam porro quidem
        sapiente vel voluptas. A aliquam aliquid architecto aut autem
        blanditiis commodi cum delectus dicta dolor dolore dolorem dolorum
        ea eaque eius eligendi esse hic iusto maxime molestias non
        nostrum odit omnis pariatur perferendis placeat possimus
        praesentium, quae quaerat qui quo saepe sint sit tempore, vel
        velit voluptate. Cumque, delectus doloremque eum maiores possimus q
        uod reiciendis repudiandae. Alias assumenda dicta doloremque minima
        nesciunt odio omnis sed voluptatum! Dolorem impedit iste laboriosam
        maxime nostrum optio perspiciatis quasi quos recusandae, vero. Ab aut
        consequatur dolor fugiat, incidunt praesentium quibusdam? Animi
        dolorem earum eligendi eveniet id itaque mollitia odio perspiciatis
        porro, repudiandae saepe sint sunt tempore temporibus ullam vitae
        voluptas? Aperiam ea eos ipsam minus placeat quas quod tempora. A
        adipisci, amet corporis culpa dolorum enim excepturi facere inventore
        iusto officia quibusdam quis quos tempore voluptas voluptatem. Amet
        earum hic provident veritatis. Blanditiis dolorum exercitationem nesciunt
        nobis quia! Dolores fuga ipsum nemo nihil, non porro quidem repellat repellendus
        repudiandae saepe? Accusamus, est reiciendis! A exercitationem fugit hic libero,
        minima minus modi molestias nobis odit porro praesentium quam quas quod saepe sequi,
        sit voluptates. Aperiam odio, vero? Adipisci animi consequatur debitis, d
        electus deleniti dicta dolore doloremque ducimus earum esse ex
        explicabo fugiat hic illo ipsam ipsum iure minima molestias natus nemo
        nisi obcaecati officiis pariatur, perspiciatis quam quibusdam quod ratione
        repellendus sint tempora tempore temporibus tenetur voluptatibus. Id nat
        us neque nihil sequi voluptas?
      </p>
    </div>
    <ul class="posts-comments-list">
      <li class="posts-comment">
        <span>Username: </span>
        <span>Comment</span>
      </li>
      <li class="posts-comment">
        <span>Username: </span>
        <span>Comment</span>
      </li>
      <li class="posts-comment">
        <span>Username: </span>
        <span>Comment</span>
      </li>
      <li class="posts-comment">
        <span>Username: </span>
        <span>Comment</span>
      </li>
    </ul>
  </div>
</main>